*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: gainsboro;
  }
.heading{
    margin-bottom: 200px;
    
  }
.head{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    
    
}
.name{
    display: inline-block;
    position: relative;
    left: 30px;
    font-size: 40px;
}

#nav-bar > ul > li{
    
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.2rem;
    color: white;
    background-color: aliceblue;
    border-radius: 25px;
    
   
}
.float{
    position: absolute;
    right: 20px;
    top: 0;
}
a{
    text-decoration: none;
    font-size: 25px;
    color: black;
    
}
#nav-bar > ul > li:hover{
    background-color: gray;
    border-radius: 25px;
}
#nav-bar > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
    
  }
  #nav-bar {
    width: 50%;
    max-width: 400px;
    height: 50px;
  }





.container{
    padding: 2rem;
    z-index: 0;
    margin-top: 150px;
}
.slider{
    display: flex;
    position: relative;
    width: 40vw;
    max-width: 52.659vw;
    max-height: 82vh;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.slides{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #ddd;
  transition: transform 0.5s ease-in-out;
}
.slides img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slides video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide {
  display: none; 
}

.slide.active {
  display: block; 
}
.slider button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 10px 15px;
  background-color: hsl(0, 0%, 0%,0.5);
  color: #fff;
  border: none;
  cursor: pointer;

}
.prev{
  left: 5px;
}
.next{
  right: 5px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  display: block;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
  margin-top: 6vh;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #bbb;
}
.modal .modalPrev,
.modal .modalNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 11;
  font-size: 20px;
}

.modal .modalPrev {
  left: 15vw; 
}

.modal .modalNext {
  right: 15vw; 
}

.modal .modalPrev:hover,
.modal .modalNext:hover {
  background-color: rgba(212, 205, 205, 0.8);
}


.tapFor{
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: 0;
}


h1 , p{
    display: inline;
    font-size: 27px;
}
p{
    font-size: 20px;
}
.description{
    margin-left: 30px;
    
}
.description > a{
    text-decoration: none;
    color: #000;
}
.description > a:hover{
    color: royalblue;
}
.description > div{
    
    margin: 15px 0;
}





.footer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  bottom: 0;
  left: 0;
  background-color: blanchedalmond;
  width: 100%;
  height: 83vh;
}

.footer > .io{
  text-align: center;
  position: relative;
  top: 50%;
  left: 24vw;
  height: 3vh;
  font-size: 1.5vw;
}

.footer-links > .xx{
  position: relative;
  left: 0.658vw;
  top: 0.658vw;
  padding: 0;
}
.footer-links > .xx > li{
  display: block;
  margin: 0.527vw 0.527vw;
  padding: 0.211vw;
  color: white;
  width: 15.142vw;
  border-radius: 25px;
}
.footer-links > .xx > li:hover{
  background-color: white;
  border-radius: 10px;
  
}
.footer-contact{
  display: block;
  position: relative;
  left: 20vw;
  top: 6.292vw;
  height: 20vw;
  width: 27vw;
  
}
.first{
  height: 30px;
}
.first > a {
  display: inline-block;
}
.first > a > .pNumber{
display: inline-block;
font-size: 1.646vw;
margin: 0;
}
.second{
  height: 30px;
}
.second > .mail{
display: inline-block;
font-size: 1.646vw;
margin: 0;

}
.footer-contact > div{
margin: 0.658vw;
}

.footer-contact > p{
  margin-left: 0.658vw;
  font-size: 1.646vw;
  font-weight: bold;
}
.footer-contact > hr{
  height: 0.3vh;
  width: 16.142vw; 
  background-color: black; 
  margin-left: 0.658vw; 
  border: none;
}
.io-hr{
  height: 0.5vh;
  width: 60vw;
  background-color: #000;
  border: none;
  position: absolute;
  top: 75%;
  left:20vw
}

.socialMedia{
  display: block;
  position: relative;
  top: 6.292vw;
  left: 12vw;
  height: 20vw;
  width: 27vw;
}

.socialMedia > p{
  margin-left: 1.317vw;
  font-size: 1.646vw;
  font-weight: bold;
}
.socialMedia > hr{
  height: 0.3vh;
  width: 15.142vw; 
  background-color: black; 
  margin-left: 1.317vw; 
  border: none;
}
@media (max-width: 475px){
  .name-link{
    width: 200px;
  }
  .name{
    font-size: 30px;
  }
  #nav-bar > ul{
    height: 30%;
    top: 5.8vh;
  }
  #nav-bar > ul > li{
    width: 15vw;
    height: 8vw;
  }
  #nav-bar > ul > li > a{
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: 0.7vh;
  }
  .float{
    right: 3vw;
  }
  .container{
    width: 100vw;
    padding: 0;
}
.tapFor{
  margin-right: 3vw;
}
.slider{
    width: 80vw;
}
.slider button{
  font-size: 3.5vw;
}
.slides{
  width: 80vw;
}
.slides img{
  width: 80vw;
  height: 60vw;
}
.modal .modalPrev {
  left: 0vw; 
}

.modal .modalNext {
  right: 0vw; 
}
.modal-content{
  margin-top: 8vh;
}
  .description{
    width: 90vw;
  }
  .footer{
    grid-template-columns: repeat(2, 1fr);
    height: 40vh;
  }
  .footer-contact{
    width: 200px;
    height: 160px;
    left: 5vw;
  }
  .socialMedia{
    width: 160px;
    height: 160px;
    left: 5vw;
  }
  .io{
    width: 150px;
  }
  .first{
    height: 35px;
  }
  .first > a > .pNumber{
    font-size: 3.5vw;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .second{
    height: 35px;
  }
  .second > .mail{
    font-size: 3.5vw;
  }
  .footer-contact > p{
    font-size: 3.5vw;
  }
  .footer-contact > hr{
    width: 35vw;
  }
  .socialMedia > p{
    font-size: 3.5vw;
  }
  .socialMedia > hr{
    width: 35vw;
  }
  .socialMedia-links{
    font-size: 3.5vw;
  }
  .footer-links > .xx > li{
    width: 25vw;
  }
  .footer > .io{
    font-size: 3.2vw;
    left: 32vw;
  }
  
  
}